.sidebar-child {
  cursor: pointer;
  width: 160px;
  .container {
    display: flex;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    height: 30px;
    background-color: aliceblue;
    align-items: center;
    padding-left: 2px;
  }
  .container:last-child {
    border-width: 0px 0px 1px 0px;
  }
}
