.action-buttons {
  display: flex;
  align-items: center;
  button {
    margin-left: auto;
  }
}

.section-child-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}

/* Make sections scrollable */
.sectios-container {
  height: calc(100vh - 155px); /* adjust if action-buttons height changes */
  overflow-y: auto;
  padding-right: 8px;
}
