.widgets-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.count-widgets-container-1 {
  display: flex;
  gap: 10px;
  .count-widget {
    width: 150px;
  }
}

.count-widgets-container-2 {
  display: flex;
  gap: 10px;
  .count-widget {
    width: 350px;
  }
}
